.partner-message {
  color: black;
  align-self: flex-start;
  background-color: rgb(232, 232, 232);
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 1.2em;
  max-width: 80%;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}

.translate {
  border-top: 1px solid white;
  margin-top: 7px;
  padding-top: 4px;
}
